*{
  font-family: 'Lato', sans-serif;
}

#branding{
  font-weight: 450;
  font-size: 17px;
}

header{
  position: sticky;
  top:0;
  z-index: 5;
}

nav{
  background-color: #250B72;
}

#mobile-demo{
  background-color: #250B72;
}

#mobile-demo li a{
  color: #fff;
}

.active{
  background-color: #5835BD;
}

#home-section1{
  padding-top: 20px;
  padding-bottom: 50px;
  color: white;
  height: auto;
  background-image: url('../images/bg/bg.png');
  background-size: 100% 100%;
  font-weight: bold;
}

#home-section1 a{
  margin-top: 20px;
  background-color: #940AE0;
}

#home-section2{
  color: #250B72;
}

#home-section2 h5{
  font-weight: bold;
}

.about-section{
  margin-top: 50px;
}

.about-section a{
  background-color: #250B72;
  margin-top: 10px;
}

.about-section h5{
  color: #250B72;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

#download-section{
  padding: 5px 0;
  color: #fff;
}

#download-section .card-panel{
  /*background-color: #0F9EB8;*/
  background-color: #250B72;
}

#download-section span{
  font-size: 20px;
  font-weight: bold;
}

#download-section a{
  background-color: #940AE0;
  margin: 10px;
}

.page-footer {
  background-color: #250B72;
}

.page-footer ul {
  margin-top: 30px;
}

.page-footer li {
  margin: 20px;
}