  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div>
          <h5 class="white-text center">The FlameGApps Project</h5>
        </div>
        <div>
          <ul>
            <li><a href="//telegram.me/flamegapps"><i class="material-icons left">system_update</i>Updates</a></li>
            <li><a href="https://forum.xda-developers.com/android/software/gapps-flamegapps-android-t4020917/amp/" target="_blank"><i class="material-icons left">forum</i> XDA Thread</a></li>
            <li><a href="//telegram.me/flamegappssupport"><i class="material-icons left">feedback</i>Feedback</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
        © 2020 FlameGApps
      </div>
    </div>
  </footer>