  <header>
    <nav>
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo left" id="branding"><i class="material-icons">label_important</i>FlameGApps </a>
        <a href="#" data-target="mobile-demo" class="right sidenav-trigger" id="nav-btn"><i class="material-icons">menu</i></a>
        <ul class="right" id="nav-hide">
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/download">DOWNLOAD</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/download">DOWNLOAD</a></li>
  </ul>