<header>
    <nav>
        <div class="branding">
            <h1>
                <a href="{{ "/" | relative_url }}">FlameGApps</a>
            </h1>
        </div>

        <button class="hamburger">
            <svg class="bi bi-three-dots" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" fill-rule="evenodd"/>
            </svg>
        </button>

        <ul class="menu">
            <li>
                <a href="{{ "/about" | relative_url }}">About</a>
            </li>
            <li>
                <a href="{{ "/download" | relative_url }}">Downloads</a>
            </li>
            <li>
                <a href="{{ "/download#changelogs" | relative_url }}">Changelogs</a>
            </li>
        </ul>
    </nav>
</header>
