<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2FSWVGYG5J"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-2FSWVGYG5J');
        </script>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    </head>
    <body>
        <div class="site">
            {% include hero.html %}
            {{ content }}
            {% include bottom.html %}
        </div>
    </body>
</html>
